* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;

  padding: 20px;
}

main {
  min-height: 100vh;

  display: grid;

  justify-content: center;
  align-content: center;

  padding: 20px;
  gap: 10px;

  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 20% 20% 20% 20% 30%;

  grid-template-areas:
    "intro intro img1 img2 social"
    "intro intro img1 img2 resources"
    "myimg techStack img3 img3 resources"
    "myimg techStack img3 img3 mode"
    "current current current connect connect";
}

.box {
  background: transparent;
  border: 3px solid rgb(31, 31, 31);
  background-color: #141414d4;
  border-radius: 20px;
}

.intro {
  grid-area: intro;
}

.topimg1 {
  grid-area: img1;
  overflow: hidden;
}

.topimg1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.topimg2 {
  grid-area: img2;
  overflow: hidden;
}

.topimg2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.social {
  grid-area: social;
}

.myimg {
  grid-area: myimg;
  overflow: hidden;
}

.myimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.techStack {
  grid-area: techStack;
  padding: 20px;
  color: white;
}

.centerimg {
  grid-area: img3;
  overflow: hidden;
}

.centerimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.resources {
  grid-area: resources;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resources p {
  color: grey;
  font-size: 12px;
  font-weight: 500;
}

.resources h4 {
  margin-top: 20px;
  font-weight: 500;
}

.resbtm {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.resbtm span {
  padding: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  border: 2px solid #282828;
}

.mode {
  grid-area: mode;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerbox {
  background-color: #282828;
  padding: 5px 30px;
  border-radius: 25px;
  position: relative;
}

.circle {
  background-color: whitesmoke;
  padding: 7px 8px;
  border-radius: 50%;
  position: relative;
  right: -75%;
}

.current {
  grid-area: current;
  padding: 60px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.current h3{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

.current p{
  font-weight: 500;
  color: rgb(70, 70, 70);
  font-size: 14px;
}

.curright{
  height: 100%;
  width: 20%;
  margin-right: 30px;
}

.curright img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.connect {
  grid-area: connect;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.connect p{
  font-size: 13px;
  margin-bottom: 10px;
  color: rgb(78, 78, 78);
  font-weight: 500;
}

.connect p:last-child{
  margin-top: 10px;
}

.connect h3{
  font-size: 20px;
}