* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 10vh;
  padding: 50px 100px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 100px;
  height: 1px;
  background: rgba(157, 157, 157, 0.112);
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navLeft img {
  height: 28px;
}

.navLeft span {
  background-color: #edded5;
  padding: 5px 10px;
  border-radius: 40px;
}

.navRight {
  display: flex;
  gap: 40px;
  padding-right: 100px;
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-block-end: 4px;
  position: relative;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1.5px;
  background-color: black;

  transition: width 0.35s ease;
}

.navLinks a:hover::after {
  width: 100%;
}

#first {
  background-color: #edded5;
  padding: 1px 4px;
  border-radius: 50%;
}

.navBtn {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.navBtn:hover {
  background-color: black;
  color: white;
}

main {
  height: 100%;
  width: 100%;
  padding: 180px 100px;
}

.sec1 h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  font-family: sans-serif;
}

.sec1 p {
  font-size: 23px;
  line-height: 35px;
  padding-top: 20px;
}

.sec1 button {
  padding: 18px 24px;
  border: none;
  font-size: 17px;
  color: white;
  background-color: black;
  font-family: sans-serif;
  border-radius: 40px;
  margin-top: 30px;
}

.sec2 {
  height: 88vh;
  margin-top: 60px;
}

.logos {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logos img {
  height: 40px;
}

.brandInfo {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f4f4f5;
  font-family: serif;
  padding: 60px 40px;
  max-height: 100%;
  width: 300px;
}

.card h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(99, 99, 99);
  margin-bottom: 20px;
}

.card a {
  color: black;
}

.sec3 {
  min-height: 100vh;
}

.work {
  font-size: 12px;
  position: relative;
  padding-bottom: 12px;
}

.work::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 1px;
  background: rgba(157, 157, 157, 0.112);
}

.sec3Heading {
  margin-top: 40px;
  font-family: serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec3Heading h2 {
  font-size: 55px;
  font-weight: 500;
}

.sec3Heading button {
  padding: 13px 25px;
  font-size: 15px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.sec3Heading button:hover {
  background-color: black;
  color: white;
}

.workSection {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.workCard {
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workImg {
  overflow: hidden;
}

.workImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: top;
  transition: all 0.8s ease;
}

.workCard img:hover {
  transform: scale(1.07);
}

.imgCaption {
  width: 100%;
  height: 40px;
  font-size: 21px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCaption span {
  font-size: 21px;
}

.imgCaption button {
  border: 1px solid black;
  background: transparent;
  padding: 8px 10px;
  border-radius: 30px;
}

.sec4 {
  height: 100vh;
  margin-top: 100px;
  font-family: serif;
}

.sec4 .work p {
  font-size: 15px;
  font-weight: 100;
}

.sec4Cards {
  height: 100%;
  margin-top: 80px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8";
}

.box {
  padding: 50px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.box p {
  font-size: 15px;
  font-weight: 200;
}

.box h4 {
  font-size: 22px;
  font-weight: 400;
}

.card1 {
  grid-area: card1;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 45px 25px 45px;
}

.boxtop p {
  font-size: 14px;
}

.boxtop h3 {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
}

.boxbtm button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 30px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.boxbtm button span {
  font-size: 20px;
}

.card2 {
  grid-area: card2;
  background-color: #f1f6f5;
}

.card3 {
  grid-area: card3;
  background-color: #f8f8f8;
}

.card4 {
  grid-area: card4;
  background-color: #fff;
}

.card5 {
  grid-area: card5;
  background-color: #fff;
}

.card6 {
  grid-area: card6;
  background-color: #f8f8f8;
}

.card7 {
  grid-area: card7;
  background-color: #f8ede3;
}

.card8 {
  grid-area: card8;
  background-color: #f8ede3;
}

.sec5 {
  width: 100%;
  height: 100vh;
  margin-top: 210px;
  display: flex;
  justify-content: center;
  font-family: serif;
}

.sec5card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-top: 100px;
}

.sec5heading{
    width: 100%;
}

.sec5heading h3{
    font-size: 50px;
    font-weight: 400;
}

.sec5Info {
  display: flex;
  gap: 40px;
  padding-top: 30px;
  color: rgb(75, 75, 75);
  font-size: 18px;
  width: 100%;
}

.sec5Info article{
    line-height: 27px;
    font-weight: 300;
}

.sec6{
  height: 100vh;
  padding-top: 50px;
  font-family: serif;
}

.sec6 .work p{
  font-size: 15px;
}

.sec6Heading .sec3Heading h2{
  font-weight: 200;
  font-size: 50px;
}

.teamContainer{
  height: 80%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.leftCard{
  background-color: #F1F6F5;
  height: 100%;
  width: 25%;
  padding: 70px 60px 10px 60px;
  position: relative;
}

.leftCard span{
  font-size: 14px;
}

.leftCard h3{
  font-size: 32px;
  padding-top: 20px;
  font-weight: 300;
}

.leftCard p{
  color: rgb(117, 117, 117);
  font-size: 14px;
  line-height: 30px;
  padding-top: 15px;
}

.leftCard button{
  position: absolute;
  bottom: 3%;
  padding: 18px 34px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
}

.rightCards{
  width: 75%;
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.box1{
  height: 100%;
  width: 100%;
}

.empImg{
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
}

.empImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.empCaption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}

.empCaption p{
  font-size: 20px;
}

.empCaption button{
  padding: 7px 12px;
  border-radius: 30px;
  border: 1px solid black;
  background: transparent;
  transition: all 0.3s ease;
}

.empCaption button:hover{
  background-color: black;
  color: white;
}

.social{
  position: absolute;
  height: 50px;
  width: 170px;
  right: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  align-items: center;
}

.empImg:hover .social{
  transform: translateY(-60px);
}

.ig, .x, .be{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.sec7{
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  margin-top: 130px;
  font-family: serif;
}

.companyInfo{
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.upper{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.upper::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(157, 157, 157, 0.112);
}

.complogo{
  height: 100%;
  width: 30%;
}

.complogo img{
  width: 150px;
}

.compInfo{
  width: 70%;
  height: 100%;
}

.compInfo h4{
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
}

.compInfo p{
  margin-top: 40px;
  line-height: 25px;
}

.lower{
  width: 100%;
  padding-top: 80px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}